@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nsans Light";
  src: url("./assets/fonts/NetflixSans-Light.woff2");
}
@font-face {
  font-family: "Nsans Medium";
  src: url("./assets/fonts/NetflixSans-Medium.woff2");
}
@font-face {
  font-family: "Nsans Regular";
  src: url("./assets/fonts/NetflixSans-Regular.woff2");
}
@font-face {
  font-family: "Nsans Bold";
  src: url("./assets/fonts/NetflixSans-Bold.woff2");
}
@font-face {
  font-family: "Nsans Regular";
  src: url("./assets/fonts/NetflixSans-Regular.woff2");
}

body {
  font-family: "Nsans Regular", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  width: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color:#DC2626;
  border-radius: 20px;
}
